@import "../reset.css";
@import "../common.css";
@import "../components/header.css";
@import '../components/footer.css';

.login-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding : 0 700px;
  padding-top : 100px;
}

.login_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.login_text {
  color: rgba(0,0,0,0.7);
  margin-bottom : 7px;
  text-decoration: none;
}

.login_form {
  display : flex;
  flex-direction: column;
}

.login_btn {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  border: none;
  margin : 5px 0;
}

.login_btn--kakko {
  margin-top : 50px;
  background-color: #fee500;
  color: black;
  margin-bottom: 30px;
}

.login_btn--naver {
  background-color: #1EC800;
}

.login_text-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.login_label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.login_input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  margin-top : 10px;
}