.header {
  height: 20vh; 
}
.header_top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(0,0,0,0.2); 
}

.header_nav-box {
  width: 33%;
}
.header_title {
  width: 33%;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.header_list-box {
  display: flex;
  height: 100%;
  align-items: center;
}
.header_menu {
  display: flex; 
  width: 33%;
  align-items: center;
  justify-content: flex-end;
}
.header_content{
  margin: 0 20px;
  
  
}
/* 아래 헤더 */
.header_category {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.header_cart-badge {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: absolute;
  top: -13px;
  right: -13px;
}
.header_content-badge-box {
  position: relative;
}
.header_cart-badge span {
color: white;
}
/* 사용자 badge, 포인트 알림 */
.header_user-badge {
  background-color: #d5d2cb; 
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}


